[profile.default]
src = 'src'
out = 'out'
libs = ['lib']
# Fixed Version
solc_version = '0.8.15'
ffi = true
optimizer = true
optimizer_runs = 100000

# See more config options https://github.com/foundry-rs/foundry/tree/master/config
# Gas Report
gas_reports = ['KeyperModule', 'KeyperRoles']


[fmt]
# Maximum line length where formatter will try to wrap the line
line_length = 80
# Number of spaces per indentation level
tab_width = 4
# Print spaces between brackets
bracket_spacing = false
# Style of uint/int256 types
int_types = "long"
# If function parameters are multiline then always put the function attributes on separate lines
func_attrs_with_params_multiline = true
# Style of quotation marks
quote_style = "double"
# Style of underscores in number literals
number_underscore = "preserve"
